<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.kapsy.original_native"
    android:versionCode="1"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

	<uses-feature android:glEsVersion="0x00020000"></uses-feature>
	
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hasCode="false" >
        
	    <activity android:name="android.app.NativeActivity"
		    android:label="@string/app_name"
		    android:configChanges="orientation|keyboardHidden"
		   	android:screenOrientation="landscape"
			android:launchMode="singleTask">
                
	        <meta-data android:name="android.app.lib_name"
	        android:value="original_native" />
	        
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
    </application>

</manifest>